body{
  background-color: rgb(214, 214, 210);
  margin: 0;
  padding: 0;
}

/* this is a name selector */
nav{
  background-color: rgb(30, 31, 31);
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: smaller;
  
}

h1{
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div p{
  font-style: italic;
  text-align: center;

}

/* this is a class selector */
.img{
  background-image: url("images/Edgar-Allan-Poe.webp");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  width: 60%;
  height: 60%;
}

/* this affects paragraph only inside this class img */
.img p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  
  
}

p a{
  &&:hover{
    font-weight: bold;
  }
}

.poems{
  padding-left: 2em;

}

.poems h2{
  font-size:large;
}

ul li{
  display: inline-block;
  
  
}

li a{
  text-decoration: none;
  color: black;
  &&:hover{
    font-weight: bold;
    color: rgb(43, 56, 66);
    
  }
 
}
footer{
  padding-left: 1em;
}
